@use '../../styles/typography' as font;
@use '../../styles/mixin' as *;

.theme-container {
  display: flex;
  align-items: center;
  gap: .6rem;
  cursor: pointer;

  img {
    width: font.$fs--200;
  }

  p {
    font-size: font.$fs--200;
  }

  @include tablet {
    img {
      width: font.$fs-000;
    }

    p {
      font-size: font.$fs-000;
    }
  }
}

