@use '../../styles/spacing' as spacing;
@use '../../styles/colors' as color;
@use '../../styles/typography' as font;
@use '../../styles/mixin' as *;

.country-detail {
  max-width: $laptop-large;
  margin-inline: auto;
  padding-inline: spacing.$min-padding-900;
  padding-block: 2rem 5rem;

  // For the buttons since they have a <Link> wrapped around them
  a {
    display: inline-block;
  }
  .back-button {
    margin-block: 0 5rem;
  }

  @include tablet {
    padding-inline: spacing.$max-padding-900;
  }
}

.country-detail__information {
  max-width: 45.625rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-inline: auto;

  @include laptop-m {
    flex-direction: row;
    margin-inline: unset;
    max-width: unset;
    gap: 8rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
  }
}

.country-detail__image-box {
  margin-bottom: 3rem;

  img {
    border-radius: spacing.$br--100;
    width: 100%;
  }

  @include laptop-m {
    max-width: 40rem;

    img {
      width: 100%;
    }
  }
}

.country-detail__information-content {
  h2 {
    margin-bottom: 1.5rem;
  }
  @include laptop-m {
    width: 100%;
  }
}

.country-detail__general {
  display: grid;
  gap: 0.6rem;
  margin-bottom: 3rem;

  @include tablet {
    grid-template-columns: repeat(2, 1fr);
  }
  p {
    font-weight: font.$fw-100;
    span {
      font-weight: font.$fw-000;
      opacity: 0.9;
    }
  }
}

.country-detail__borders {
  width: 100%;
  p {
    font-size: font.$fs-200;
    font-weight: font.$fw-100;
    margin-bottom: 1.2rem;
  }

  ul {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    gap: .6rem;
  }

  @include tablet {
    display: flex;
    align-items: center;

    p {
      margin-bottom: unset;
    }

  }

}
