@use '../../../styles/spacing' as spacing;
@use '../../../styles/colors' as color;
@use '../../../styles/typography' as font;
@use '../../../styles/mixin' as *;

.search-bar {
  position: relative;
  width: 100%;

  label {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: spacing.$min-padding-700;
    display: flex;

    img {
      width: font.$fs-000;
    }

  }

  input {
    width: 100%;
    border: none;
    font-weight: font.$fw-000;
    border-radius: spacing.$br--100;
    padding: spacing.$min-padding--200 spacing.$max-padding-800;
    background-color: color.$dm-bg-secondary;
    color: color.$dm-text-main;

  }

  ::placeholder {
    font-weight: font.$fw-000;
    font-size: font.$fs--200;
    color: color.$dm-text-main;
  }

  @include tablet {
    width: 29.6rem;
    label {
      left: spacing.$min-padding-900;

      img {
        width: font.$fs-100;
      }
    }

    input {
      padding: spacing.$min-padding-100 (spacing.$max-padding-800 + .2rem);
    }

    ::placeholder {
      font-size: font.$fs--100;
    }
  }
}

.search-bar.light-mode {
  input {
    background-color: color.$lm-bg-secondary;
    color: color.$lm-text-main;
  }

  ::placeholder {
    color: color.$lm-text-main;
  }
}