$mobile-medium: 23.438em;
$mobile-large: 30em;
$tablet: 48em;
$laptop-medium: 64em;
$laptop-large: 90em;

@mixin mobile-m {
  @media screen and (min-width: $mobile-medium) {
    @content;
  }
}

@mixin mobile-l {
  @media screen and (min-width: $mobile-large) {
    @content;
  }
}

@mixin tablet {
  @media screen and (min-width: $tablet) {
    @content;
  }
}

@mixin laptop-m {
  @media screen and (min-width: $laptop-medium) {
    @content;
  }
}

@mixin laptop-l {
  @media screen and (min-width: $laptop-large) {
    @content;
  }
}
