// Width
$max-width: 1440px;
$max-width-padding: 5rem;
$min-width-padding: 1.25rem;
  // --search-padding: 1.15rem;
  // --max-width: 1440px;
  // --max-width-padding: 5rem;
  // --min-width-padding: 1.25rem;