// Width
$max-width: 1440px;
$max-width-padding: 5rem;

$min-padding-000: 1rem;
$min-padding-100: 1.15rem;
$min-padding-200: 1.25rem;
$min-padding-300: 1.35rem;
$min-padding-400: 1.45rem;
$min-padding-500: 1.55rem;
$min-padding-600: 1.65rem;
$min-padding-700: 1.75rem;
$min-padding-800: 1.85rem;
$min-padding-900: 2rem;

$br--000: 0.05rem;
$br--100: 0.15rem;
$br--200: 0.25rem;
$br--300: 0.35rem;
$br--400: 0.45rem;
  // --search-padding: 1.15rem;
  // --max-width: 1440px;
  // --max-width-padding: 5rem;
  // --min-width-padding: 1.25rem;