@use '../../styles/spacing' as spacing;
@forward './SearchBar/searchBar';
@forward './Filter/filter.scss';

.search-filter-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-inline: auto;
  padding-inline: spacing.$max-width-padding;

}
