@use '../../styles/colors.scss' as color;
@use '../../styles/spacing.scss' as spacing;
@use '../../styles/typography.scss' as font;
@use '../../styles/mixin' as *;
@use '../../components/ThemeButton/themeButton.scss';

header {
  background-color: color.$dm-bg-secondary;
  color: color.$dm-text-main;
  display: flex;
  gap: 1rem;
  justify-content: space-between;
  width: 100%;
  padding: spacing.$min-padding-700 spacing.$min-padding-000;
  box-shadow: 0px 3px 5px 0px color.$dm-box-shadow-color;
  margin-bottom: spacing.$min-padding-400 + .05rem;

  a {
    text-decoration: none;
    color: unset;
  }
  
  h1 {
    font-weight: font.$fw-100;
    font-size: font.$fs--100;
    text-align: center;
  }

  @include tablet {
    padding: (spacing.$min-padding-400 + .05rem) spacing.$max-padding-900;

    margin-bottom: spacing.$med-padding-900 + .1rem;
    h1 {
      font-weight: font.$fw-200;
      font-size: font.$fs-400;
    }
  }


}
header.light-mode {
  background-color: color.$lm-bg-secondary;
  color: color.$lm-text-main;
}
