@use '../../styles/spacing' as spacing;
@use '../../styles/colors' as color;
@use '../../styles/typography' as font;
@use '../../styles/mixin' as *;

@mixin filter-center($left-or-right) {
  position: absolute;
  pointer-events: none;
  top: 50%;
  transform: translateY(-50%);
  #{$left-or-right}: spacing.$min-padding-300;
}

.filter-container {
  position: relative;
  max-width: 12.4rem;
  height: 2.824rem;
  

  .filter-title {
    font-size: font.$fs--200;
    @include filter-center(left);
  }

  .filter-arrow-icon {
    @include filter-center(right);

    .active {
      transform: rotate(-180deg);
    }
  }

  select {
    width: 100%;
    height: 100%;
    border: none;
    padding-left: spacing.$min-padding-100;
    box-shadow: 0px 0px 15px color.$dm-box-shadow-color;
    border-radius: spacing.$br--200;
    font-weight: font.$fw-100;
    background-color: color.$dm-bg-secondary;
    color: color.$dm-text-main;
    appearance: none;
    cursor: pointer;
  }

  @include tablet {
    width: 100%;
    height: 3.424rem;
  }
}

.filter-container.light-mode > * {
  background-color: color.$lm-bg-secondary;
  color: color.$lm-text-main;
}