@use '../../styles/colors.scss' as color;
@use '../../styles/typography.scss' as typography;
@use '../../styles/spacing' as spacing;
@use '../../styles/mixin' as *;

body {
  background-color: color.$dm-bg-main;
  color: color.$dm-text-main;
  font-family: typography.$fm-main, sans-serif;

}

body.light-mode {
  background-color: color.$lm-bg-main;
  color: color.$lm-text-main;
}

main {
  padding-inline: 3.7rem;
  max-width: $laptop-large;
  margin-inline: auto;
  justify-items: center;
  display: grid;
  gap: 4.5rem;
  
  @include tablet {
    grid-template-columns: repeat(auto-fit, minmax(spacing.$card-width-s, 1fr));
    gap: 4.5rem;
    padding-inline: spacing.$max-padding-900;
  }
}