@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;600;800&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

input,
select,
button,
option {
  font-family: inherit;
  color: inherit;
}

a {
  color: unset;
  text-decoration: none;
}

ul, li {
  list-style: none;
}

body {
  background-color: hsl(207deg, 26%, 17%);
  color: hsl(0deg, 0%, 100%);
  font-family: "Nunito Sans", sans-serif;
}

body.light-mode {
  background-color: hsl(0deg, 0%, 98%);
  color: hsl(200deg, 15%, 8%);
}

main {
  padding-inline: 3.7rem;
  max-width: 90em;
  margin-inline: auto;
  justify-items: center;
  display: grid;
  gap: 4.5rem;
}
@media screen and (min-width: 48em) {
  main {
    grid-template-columns: repeat(auto-fit, minmax(16.563rem, 1fr));
    gap: 4.5rem;
    padding-inline: 5rem;
  }
}

.theme-container {
  display: flex;
  align-items: center;
  gap: 0.6rem;
  cursor: pointer;
}
.theme-container img {
  width: 0.75rem;
}
.theme-container p {
  font-size: 0.75rem;
}
@media screen and (min-width: 48em) {
  .theme-container img {
    width: 1rem;
  }
  .theme-container p {
    font-size: 1rem;
  }
}

header {
  background-color: hsl(209deg, 23%, 22%);
  color: hsl(0deg, 0%, 100%);
  display: flex;
  gap: 1rem;
  justify-content: space-between;
  width: 100%;
  padding: 1.75rem 1rem;
  box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.15);
  margin-bottom: 1.5rem;
}
header a {
  text-decoration: none;
  color: unset;
}
header h1 {
  font-weight: 600;
  font-size: 0.875rem;
  text-align: center;
}
@media screen and (min-width: 48em) {
  header {
    padding: 1.5rem 5rem;
    margin-bottom: 3rem;
  }
  header h1 {
    font-weight: 800;
    font-size: 1.45rem;
  }
}

header.light-mode {
  background-color: hsl(0deg, 0%, 100%);
  color: hsl(200deg, 15%, 8%);
}

.search-bar {
  position: relative;
  width: 100%;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.15);
}
.search-bar label {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 1.75rem;
  display: flex;
}
.search-bar label img {
  width: 1rem;
}
.search-bar input {
  width: 100%;
  border: none;
  font-weight: 300;
  border-radius: 0.15rem;
  padding: 0.85rem 4.375rem;
  background-color: hsl(209deg, 23%, 22%);
  color: hsl(0deg, 0%, 100%);
}
.search-bar ::placeholder {
  font-weight: 300;
  font-size: 0.75rem;
  color: hsl(0deg, 0%, 100%);
}
@media screen and (min-width: 48em) {
  .search-bar {
    width: 29.6rem;
  }
  .search-bar label {
    left: 1.95rem;
  }
  .search-bar label img {
    width: 1.125rem;
  }
  .search-bar input {
    padding: 1.15rem 4.575rem;
  }
  .search-bar ::placeholder {
    font-size: 0.875rem;
  }
}

.search-bar.light-mode input {
  background-color: hsl(0deg, 0%, 100%);
  color: hsl(200deg, 15%, 8%);
}
.search-bar.light-mode ::placeholder {
  color: hsl(200deg, 15%, 8%);
}

.filter-container {
  position: relative;
  max-width: 12.4rem;
  height: 2.824rem;
}
.filter-container .filter-title {
  font-size: 0.75rem;
  position: absolute;
  pointer-events: none;
  top: 50%;
  transform: translateY(-50%);
  left: 1.35rem;
}
.filter-container .filter-arrow-icon {
  position: absolute;
  pointer-events: none;
  top: 50%;
  transform: translateY(-50%);
  right: 1.35rem;
}
.filter-container .filter-arrow-icon .active {
  transform: rotate(-180deg);
}
.filter-container select {
  width: 100%;
  height: 100%;
  border: none;
  padding-left: 1.15rem;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.15);
  border-radius: 0.25rem;
  font-weight: 600;
  background-color: hsl(209deg, 23%, 22%);
  color: hsl(0deg, 0%, 100%);
  appearance: none;
  cursor: pointer;
}
@media screen and (min-width: 48em) {
  .filter-container {
    width: 100%;
    height: 3.424rem;
  }
}

.filter-container.light-mode > * {
  background-color: hsl(0deg, 0%, 100%);
  color: hsl(200deg, 15%, 8%);
}

.search-filter-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  max-width: 90em;
  margin-inline: auto;
  padding-inline: 1rem;
  gap: 2.5rem;
  margin-bottom: 1.5rem;
}
@media screen and (min-width: 48em) {
  .search-filter-container {
    flex-direction: row;
    padding-inline: 5rem;
    margin-bottom: 3rem;
  }
}

.main-button {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  background-color: hsl(209deg, 23%, 22%);
  padding: 0.52rem 2.15rem;
  border-radius: 0.35rem;
  border: none;
  font-size: 1rem;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.15);
  cursor: pointer;
}
.main-button img {
  max-width: 1.45rem;
  width: 100%;
}

body.light-mode .main-button {
  background-color: hsl(0deg, 0%, 100%);
}

.country-card__container {
  display: flex;
  flex-direction: column;
  max-width: 17.463rem;
  width: 100%;
  background-color: hsl(209deg, 23%, 22%);
  border-radius: 0.25rem;
  overflow: hidden;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.15);
}
.country-card__container > *:not(.country-card__flag):not(.country-card__flag > img) {
  padding-inline: 1.55rem;
}
.country-card__container .country-card__flag {
  height: 171px;
  margin-bottom: 1.55rem;
}
.country-card__container .country-card__flag img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.country-card__container .country-card__name {
  font-size: 1.14rem;
  color: hsl(0deg, 0%, 100%);
  margin-bottom: 1.1rem;
}
.country-card__container .country-card__information {
  display: grid;
  gap: 0.25rem;
  margin-bottom: 2.813rem;
}
.country-card__container .country-card__information p {
  font-size: 1rem;
  font-weight: 600;
}
.country-card__container .country-card__information p span {
  font-weight: 300;
}
@media screen and (min-width: 48em) {
  .country-card__container {
    max-width: 16.563rem;
  }
  .country-card__container .country-card__flag {
    height: 163px;
  }
}

body.light-mode .country-card__container {
  background-color: hsl(0deg, 0%, 100%);
}
body.light-mode .country-card__container .country-card__name {
  color: hsl(200deg, 15%, 8%);
}

.country-detail {
  max-width: 90em;
  margin-inline: auto;
  padding-inline: 1.95rem;
  padding-block: 2rem 5rem;
}
.country-detail a {
  display: inline-block;
}
.country-detail .back-button {
  margin-block: 0 5rem;
}
@media screen and (min-width: 48em) {
  .country-detail {
    padding-inline: 5rem;
  }
}

.country-detail__information {
  max-width: 45.625rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-inline: auto;
}
@media screen and (min-width: 64em) {
  .country-detail__information {
    flex-direction: row;
    margin-inline: unset;
    max-width: unset;
    gap: 8rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
  }
}

.country-detail__image-box {
  margin-bottom: 3rem;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.15);
}
.country-detail__image-box img {
  border-radius: 0.15rem;
  width: 100%;
}
@media screen and (min-width: 64em) {
  .country-detail__image-box {
    max-width: 40rem;
  }
  .country-detail__image-box img {
    width: 100%;
  }
}

.country-detail__information-content h2 {
  margin-bottom: 1.5rem;
}
@media screen and (min-width: 64em) {
  .country-detail__information-content {
    width: 100%;
  }
}

.country-detail__general {
  display: grid;
  gap: 0.6rem;
  margin-bottom: 3rem;
}
@media screen and (min-width: 48em) {
  .country-detail__general {
    grid-template-columns: repeat(2, 1fr);
  }
}
.country-detail__general p {
  font-weight: 600;
}
.country-detail__general p span {
  font-weight: 300;
  opacity: 0.9;
}

.country-detail__borders {
  width: 100%;
}
.country-detail__borders p {
  font-size: 1.25rem;
  font-weight: 600;
  margin-bottom: 1.2rem;
}
.country-detail__borders ul {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  gap: 0.6rem;
}
@media screen and (min-width: 48em) {
  .country-detail__borders {
    display: flex;
    align-items: center;
  }
  .country-detail__borders p {
    margin-bottom: unset;
  }
}

/*# sourceMappingURL=main.css.map */
